body{
    margin: 0;
}
#feed {
    width: 100%;
    height: 100vh;
    background-color: lightgrey;
}

.headfeed {
    width: 100%;
    height: auto;
    background-color: white;
    padding: 0px 0 10px 0;
    mar
}
.headfeed .titulo{
    width: 400px;
    margin: 0 auto;
}
.bodyfeed{
    width: 100%;
    height: 90vh;
    overflow-y: scroll;
} 
div .post{
    width: 400px;
    margin: 20px auto;
    
}
.post-header{
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: space-between;
    padding: 0 10px;
    background-color: white;
    box-sizing: border-box;
}
main .post-body{
    width: 400px;
    height: auto;
}
.post-body img{
    object-fit: cover;
    width: 400px;
    height: 300px;
    align-items: center;
    overflow-x: hidden;
}
.post-footer{
    background-color: white;
    width: 400px;
    height: auto;
    box-sizing: border-box;
    padding: 5px 5px;
    margin-top: -10px;
}